.PasswordData {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 30px;
   height: 181px;
   margin-left: 100px;    
}

.PasswordBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: first baseline;
    gap: 18px;
    .PasswordErrorBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 47.6px;
        margin-left: 136px;
        padding-left: 7.5px;
        span {
            height: 21.6px;
        }
     }
}

.CheckPasswordBlock {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: flex-start;
    gap: 18px;
        span {
        height: 40px;
        width: 355px;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
    .CheckPasswordErrorBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 47.6px;
        margin-left: 50px;
        padding-left: 7.5px;
     }
}

.ErrorMessage {
    color: red;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
 }
 
 .ErrorInput input {
    border-color: red;
 }
 
 