.UserStatus {
    position: absolute;
    top: 40px;
    left: 708px;
    textarea {
        width: 300px;
        height: 40px;
        border-radius: 5px;
        background-color: #EAEAEA;
        resize: none;
    }
}